.Navbar-container{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    box-shadow: 2px 2px gray;
}

.Navbar-logo{
    position: relative;
}

.Navbar-searchbar{
     border-radius: 10px;
     border-width: 10px;
     background-color: gray;
     color: black;
}

.input{
    border-radius: 9px;
    border-width: 2px;
    height: 25px;
    color: gray;   
}

.Navbar-icons{
    display: flex;
    
}
.icons{
    padding-left: 10px;
    justify-content: space-between;
}